archivo-bold(size, lineHeight = '1.5')
  font-family: 'ArchivoNarrow'
  font-weight: 700
  font-style: normal
  font-size: size
  line-height: lineHeight

archivo-semi-bold(size, lineHeight = '1.5')
  font-family: 'ArchivoNarrow'
  font-weight: 600
  font-style: normal
  font-size: size
  line-height: lineHeight

archivo-medium(size, lineHeight = '1.5')
  font-family: 'ArchivoNarrow'
  font-weight: 500
  font-style: normal
  font-size: size
  line-height: lineHeight

archivo-regular(size, lineHeight = '1.5')
  font-family: 'ArchivoNarrow'
  font-weight: 400
  font-style: normal
  font-size: size
  line-height: lineHeight


inter-regular(size, lineHeight = '1.5')
  font-family: 'Inter'
  font-weight: 400
  font-style: normal
  font-size: size
  line-height: lineHeight

inter-medium(size, lineHeight = '1.5')
  font-family: 'Inter'
  font-weight: 500
  font-style: normal
  font-size: size
  line-height: lineHeight

inter-italic(size, lineHeight = '1.5')
  font-family: 'Inter'
  font-weight: 400
  font-style: italic
  font-size: size
  line-height: lineHeight

inter-bold(size, lineHeight = '1.5')
  font-family: 'Inter'
  font-weight: 700
  font-style: normal
  font-size: size
  line-height: lineHeight
