$primary = #3498db;
$secondary = #2ecc71;
$dark = #0E1116;
$dark-light = #16191E;
$dark-secondary= #12151A;
$white = #FFFFFF;
$white-secondary = #FFFFFFCC;
$negative = #F04438;

$brand-default = #6DC7DA
$brand-hover = #91CEDB
$brand-hover = #91CEDB
$brand-disabled = #25535E
$brand-pressed = #51AEC2
$border-gray = #35363A
$border-gray-hover = #86888A
$border-gray-primary = #FFFFFF24
$gray-secondary = #FFFFFF12;
$gray-offline = #747474;

$green = #71B700;

$text-invert-default = #122B30
$text-grayscale-disabled = #FFFFFF52
$text-grayscale-light = #7A7C7F
$text-grayscale = #FFFFFF99
$text-grayscale-primary = #B5B8BB
$text-grayscale-secondary = #FFFFFFCC