<form class="input-message">
    <input  class="input"
            id="input-message-field"
            name="message"
            type="text"
            placeholder="Enter message"
            required
            aria-label="Message input field"
    />
    {{> Button iconLeft="arrow-right" size="sm" ariaLabel="Enter message" }}
</form>