<ul class="page-list">
    <li><a href="#" page="sign-in">Sign in</a></li>
    <li><a href="#" page="sign-in-errors">Sign in with errors</a></li>
    <li><a href="#" page="sign-up">Sign up</a></li>
    <li><a href="#" page="sign-up-errors">Sign up with errors</a></li>
    <li><a href="#" page="not-found">Not found</a></li>
    <li><a href="#" page="server-error">Server error</a></li>
    <li><a href="#" page="chat">Chat</a></li>
    <li><a href="#" page="chat-empty">Chat empty</a></li>
    <li><a href="#" page="chat-with-popup">Chat with popup</a></li>
    <li><a href="#" page="settings-account-details">Settings account</a></li>
    <li><a href="#" page="settings-change-password">Settings security</a></li>
</ul>