<div class="search-input">
    <img src="/icons/search.svg" alt="search" class="search-input__icon search-input__icon--left" />
    <input
            type="text"
            class="search-input__field"
            placeholder="{{placeholder}}"
            value="{{value}}"
    />
    <button type="button" class="search-input__icon search-input__icon--right">
        <img src="/icons/close.svg" alt="clear" />
    </button>
</div>