<div class="container">
    <div class="error">
        <div class="error__title">
            {{title}}
            <p>
                We're already fixing it
            </p>
        </div>
        {{> Button
                href="#"
                label="Back to chats"
                type="link"
                size="lg"
        }}
    </div>
</div>