{{#> SettingsLayout title=title }}
    <div class="account-details">
        <div class="account-details__items">
            {{>Input placeholder="Enter your last password" label="Last password" type="password"}}
            {{>Input placeholder="Enter your new password" label="New password" type="password" }}
            {{>Input placeholder="Repeat your password" label="New password" type="password" }}
            {{>Button disabled=true label="Save"}}
        </div>
    </div>
{{/SettingsLayout}}