<div class="message message--{{#if outgoing}}outgoing{{/if}}{{#if incoming}}incoming{{/if}}">
    <div class="message__content">
        {{messageText}}
    </div>
    <div class="message__meta">
        <span class="message__time">10:30</span>
        <svg class="message__status" viewBox="0 0 16 16">
            {{#if outgoing}}
                <path d="M3 8l3 3 7-7" stroke="currentColor" fill="none"/>
                <path d="M7 11l3 3 7-7" stroke="currentColor" fill="none"/>
                {{else}}
                <path d="M3 8l3 3 7-7" stroke="currentColor" fill="none"/>
            {{/if}}
        </svg>
    </div>
</div>