@font-face
  font-family: 'Inter'
  src: url('@/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype')
  font-weight: 100 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Inter'
  src: url('@/assets/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype')
  font-weight: 100 900
  font-style: italic
  font-display: swap

@font-face
  font-family: 'ArchivoNarrow'
  src: url('@/assets/fonts/archivoNarrow/ArchivoNarrow-Italic-VariableFont_wght.ttf') format('truetype')
  font-weight: 100 900
  font-style: italic
  font-display: swap

@font-face
  font-family: 'ArchivoNarrow'
  src: url('@/assets/fonts/archivoNarrow/ArchivoNarrow-VariableFont_wght.ttf') format('truetype')
  font-weight: 100 900
  font-style: normal
  font-display: swap